/angular-src
/node_modules
/playground
/public
/server/config
/server/db
/server/models
/server/server-copy.js
/server/routes/fhir_gcp_route/deleteReesourcesCalling.js
/server/routes/fhir_gcp_route/deleteStoreCalling.js
/server/routes/api.js
/server/routes/app-copy.js
/server/routes/dialogflow.js
/server/routes/fhir_resources.js
/server/routes/fhir_stores.js
/server/routes/gridfs.txt
/server/routes/image.js
/server/routes/patients_route.js
/server/routes/resources_route.js
package-lock.json
package.txt